.input-sm-5{
    margin-left: auto;
    margin-right:auto;
    width: 250px;
}

.boton-sm-offset-2 , .label-sm-2{
    margin-left: auto;
    margin-right:auto;
}

.boton-sm-offset-2{
    margin-top: 30px;
}

.label-sm-2{
    font-size: 20px;
}

.linkRegistrar #registrarse{

    color: blue;
    margin-left: 15px;;
    
}