.header{
    height: 600px;
   
}

.boton-desplegable{
    margin-top: 7px;  
}

.img-atencion{
    width: 310px !important;
    height: 200px !important;
}

.lista-desplegable{
    text-align: center;
    
}

.recordatorio{
    font-size: 24px;
}

.input-sm-5{
    margin-left: auto;
    margin-right:auto;
    width: 250px;
}

.boton-sm-offset-2 , .label-sm-2{
    margin-left: auto;
    margin-right:auto;
}

.boton-sm-offset-2{
    margin-top: 30px;
}

.label-sm-2{
    font-size: 20px;
}

.linkRegistrar #registrarse{

    color: black;
    margin-left: 15px;;
    
}
.migaja .breadcrumb a{
    color: blue;
}

.migaja .breadcrumb{
    
    width: 250px;
    color: gray;
    margin-left: 30px;
    margin-bottom: 60px;
    
}

.migaja .breadcrumb li{
    margin-left: 5px;
}

.menu h2{
    display: inline-block;
}

.menu a{
    color: rgb(0, 0, 0) !important;
}

.active{
    color: rgb(0, 0, 0) !important;
}

.selector{
    width: 250px !important;
}

.modifNotas{
    color: black !important;
    text-decoration-line: underline;
}

.volver{
    margin-left: 20px;
}